ion-select {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

ion-textarea {
    border: 1px solid #ddd;
}

.active {
    border-radius: 10%;
    border: 3px solid #ddd;
}

.item {
    --background: transparent;
}

ion-card {
    --background: #fff;
    margin: 10px 10px;
}

ion-button {
    --background: linear-gradient(to right, #4E7FF0, #2856C9);
}

.cst_wh {
    display: flex;
    justify-content: center;
    img {
        width: 275px !important;
        height: 180px !important;
    }
}

.no-ellipsis {
    overflow: visible !important;
    text-overflow: unset !important;
    white-space: normal !important;
}