ion-select {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

ion-textarea {
    border: 1px solid #ddd;
}

.active {
    border-radius: 10%;
    border: 3px solid #ddd;
}

.item {
    --background: transparent;
}

ion-card {
    --background: #fff;
    margin: 10px 10px;
}

ion-button {
    --background: linear-gradient(to right, #4E7FF0, #2856C9);
}

.cst_bg {
    p {
        font-size: 22px;
        font-weight: bold;
        background: -webkit-linear-gradient(left, #c32329, #f79221, #fcd603, #a2cd3a, #539c44);
        background: -o-linear-gradient(right, #c32329, #f79221, #fcd603, #a2cd3a, #539c44);
        background: -moz-linear-gradient(right, #c32329, #f79221, #fcd603, #a2cd3a, #539c44);
        background: linear-gradient(to right, #c32329, #f79221, #fcd603, #a2cd3a, #539c44);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.cst_wh {
    display: flex;
    justify-content: center;

    img {
        width: 275px !important;
        height: 180px !important;
    }
}

.no-ellipsis {
    overflow: visible !important;
    text-overflow: unset !important;
    white-space: normal !important;
}

.no-data-available {
    font-weight: bold;
    text-align: center;
}

.comments-title {
    color: #2856C9;
    font-style: italic;
    font-weight: bold;
}