<ion-content>
  <ion-row>
    <ion-col class="logo" style="margin-top: 150px; text-align: center;">
      <img src="./assets/mm-logo2.png" style="width: 60%" />
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isLoggedIn">
    <ion-col style="text-align: center;">
      <ion-button expand="large" (click)='login()' color="light">Login</ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isLoggedIn">
    <ion-col style="text-align: center;">
      <a size="large" expand="block">Loading...</a>
    </ion-col>
  </ion-row>
</ion-content>