<ion-content>
  <div class="login-logo">
    <img src="assets/icon/favicon.png">
  </div>
  <ion-list>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input name="username" type="text" placeholder="Username or email" clearInput>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock" slot="start"></ion-icon>
      <ion-input name="password" type="password" placeholder="Password" clearInput>  
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block">Admin</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="light" expand="block">Team Member</ion-button>
    </ion-col>
  </ion-row>
 
</ion-content>