ion-content {
    --background: #12327E;
}
ion-button {
    text-transform: capitalize;
    left: 23;
    left: 23%;
    width: 50%;
    height: 48px;
    position: absolute;
    --background: linear-gradient(to right, #4E7FF0, #2856C9);
}

ion-button {
    text-transform: capitalize;
}

ion-row {
    position: relative;
    top: 0%;
    padding: 16px;
}

/* Login Page */
.log {
    margin: auto;
}

.log img {
    margin-top: 50px;
    width: 50% !important;
}

.welcome-content {
    text-align: center
}

.welcome-content p {
    font-weight: bold;
}

/* Login Page */