<ion-header>
  <ion-toolbar class="gradient-background">
      <ion-title class="ion-text-center">SMS Mood Marbles</ion-title>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size='5'>
      <ion-list>
        <ion-list-header>PROJECT</ion-list-header>        
        <ion-item>
            <ion-select placeholder= 'projects' (ionChange)="setTeamValues(sProject)"[(ngModel)]="sProject">
                <ion-select-option [value]="sProject" *ngFor="let sProject of projects">{{sProject.name}} </ion-select-option>
            </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size='5'>
      <ion-list>
        <ion-list-header>TEAM</ion-list-header>        
        <ion-item>
            <ion-select placeholder='teams'  [(ngModel)]="sTeam">
                <ion-select-option [value]="sTeam" *ngFor="let sTeam of selectedTeams">{{sTeam.name}}</ion-select-option>
            </ion-select>
         </ion-item>
      </ion-list>
    </ion-col>
    
  </ion-row>
  <ion-list-header color="light">Line Chart</ion-list-header>
  <ion-card class="welcome-card">
      
    <ion-card-header>
      <ion-card-subtitle>Header</ion-card-subtitle>
      <ion-card-title>
        Title
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <app-line-graph [lineData]="lineData"></app-line-graph>
    </ion-card-content>
  </ion-card>

</ion-content>
