<ion-content>
  <ion-row>
    <ion-col class="logo">
      <img src="./assets/logo.png" />
    </ion-col>
  </ion-row>
  <!-- <ion-row class="welcome-content">
    <ion-col>
      <p>Welcome to SMS Mood Marbles</p>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" (click)='adminpage()'>Admin</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" (click)='teamMemberInfoPage()'>Team Member</ion-button>
    </ion-col>
  </ion-row>

</ion-content>