/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.gradient-background {
    --background: linear-gradient(to right, #4E7FF0, #2856C9);
    --color: #fff;
}

.trend-type {
    fill: grey;
    font-family: sans-serif;
    font-size: 12px;
}

.line {
    fill: none;
    stroke: #FE0600;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.y1-axis line {
    stroke: red;
}

.y1-axis path {
    stroke: red;
}

.y1-axis text {
    fill: red;
}

.line0 {
    stroke: rgb(218, 6, 6) !important;
}

.line1 {
    stroke: rgb(226, 126, 12) !important;
}

.line2 {
    stroke: rgb(247, 223, 6) !important;
}

.line3 {
    stroke: rgb(116, 228, 51) !important;
}

.line4 {
    stroke: rgb(4, 68, 4) !important;
}

ion-content {
    --background: #f4f4f4;
}